.main-div {
  margin: 7% 3% 2% 0;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.calc-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 1.2rem;
}

.calc-grid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(5rem, auto) repeat(5, 4rem);
}

.span-2 {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.2rem;
}

.output .current-operand {
  color: white;
  font-size: 1.5rem;
}

.side-color {
  background: #6070ff;
  color: #fff;
  border: 1px solid #333;
}



@media only screen and (max-width: 900px) {
  .main-div {
    flex-direction: column;
    margin: 10% 5% 2% 10%;
    text-align: center;
  }
  .calc-grid {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: minmax(5rem, auto) repeat(5, 4rem);
    padding-bottom: 20px;
    padding-left: 5%;
  }
}

@media only screen and (max-width: 900px) {
  .calc-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: minmax(5rem, auto) repeat(5, 4rem);
    padding-bottom: 20px;
    padding-left: 0;
  }
}

