.quote {
  margin: 15% 20%;
  font-size: 1.2rem;
  font-weight: 500;
  color: #344563;
  font-weight: 500;
}

.typing {
  width: max-content;
  font-size: 1rem;
  position: relative;
  color: #344563;
  margin: auto;
  font-weight: 400;
}

.typing::before,
.typing::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typing::before {
  background: #fff;
  animation: typewritting 4s steps(20) 2s forwards;
}

.typing::after {
  width: 0.125em;
  background: #344563;
  animation: typewritting 4s steps(20) 2s forwards, blink 750ms steps(20) infinite;
}

@keyframes typewritting {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}