.calc-grid {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-2 {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.side-color {
  background: #f46b45;
}
